{% load static %}
<nav class="navbar navbar-dark navbar-expand-lg bg-color fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="{% url 'home' %}">Thandar Phru</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% url 'home' as url %}
        <li class="nav-item">
          <a class="nav-link fw-bold {% if request.path == url %}border-bottom active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        {% for category in categories %}
        {% url 'category' category.slug as url %}
        <li class="nav-item">
          <a class="nav-link fw-bold {% if request.path == url %}border-bottom active{% endif %}" href="{% url 'category' category.slug %}">{{category.name}}</a>
        </li>
        {% endfor %}
        {% url 'gallery' as url %}
        <li class="nav-item">
          <a class="nav-link fw-bold {% if request.path == url %}border-bottom active{% endif %}" href="{% url 'gallery' %}">Gallery</a>
        </li>
        {% url 'about' as url %}
        <li class="nav-item">
          <a class="nav-link fw-bold {% if request.path == url %}border-bottom active{% endif %}" href="{% url 'about' %}">About</a>
        </li>
        {% url 'contact' as url %}
        <li class="nav-item">
          <a class="nav-link fw-bold {% if request.path == url %}border-bottom active{% endif %}" href="{% url 'contact' %}">Contact</a>
        </li>
        <li class="nav-item stick">
          <a class="nav-link" disabled href="#">|</a>
        </li>
        {% for social in socials %}
        <li class="nav-item">
          <a class="nav-link" href="{{social.social_link}}" target="_blank"
            ><img src="{{social.icon.url}}" width="23px" alt="Thandar Phru"
          /></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
