{% load static %}
<nav class="navbar navbar-dark navbar-expand-lg bg-color fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Thandar Phru</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link fw-bold" href="#">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Image</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutme">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactme">Contact</a>
        </li>
        <li class="nav-item stick">
          <a class="nav-link" disabled href="#">|</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img src="{% static 'img/facebook.png' %}" width="23px" alt=""
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img src="{% static 'img/twitter.png' %}" width="23px" alt=""
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img src="{% static 'img/telegram.png' %}" width="23px" alt=""
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img src="{% static 'img/youtube.png' %}" width="23px" alt=""
          /></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            ><img src="{% static 'img/instagram.png' %}" width="23px" alt=""
          /></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
